

.login-page, .register-page{
    background-image: url('../Assets/background.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero{
  height: 400px;
  width: 100%;
  background-image: url('../Assets/hero.jpeg');
  background-size: cover;
}

.tag-line{
  font-family: cursive;
}

.products{
  background-image: url('../Assets/fixedbackground.jpg');
  width: 100vw;
  height: 100vh;
background-repeat: repeat-x;
background-position: center;
}
.boy-girl{
  filter: drop-shadow(10px 10px 5px rgba(245, 244, 244, 0.5));
}

.wallet{
  background-image: url('../Assets/img.png');
  filter: drop-shadow(10px 10px 5px rgba(245, 244, 244, 0.5));
}